a.logo{
    font-size: 24px !important;
}
.userpanel{
    height: 100%;
    min-height: 100vh;
    padding-bottom: 10px;
    background-color: rgb(247, 247, 240);
}
.userpanel *{

    background-color: rgb(247, 247, 240);
}
.main-content{
    padding: 20px;
}
.paginator{
    padding-top: 20px;
}
.space{
    margin: 5px;
}

.flex{
    display: flex;
    flex-grow: 1;
}
.flex-item-center{
    align-self: center;
    justify-self: center;
    flex-grow: 1;
}

.float-right{
    text-align: right;
    float: right;
}
.alanlar-text{
    text-align: center;
    
}
div.col-4{
    padding: 5px;
}
.logo{
    font-size: 25px;
}
.pd-2{
    line-height: 50px;
}
main.row{
    margin: 0px !important;
}

.admin-items .list-group-item{
    padding: 5px 10px 5px 10px !important;
}

.no-pad li{
    padding: 3px;
}

/* .list-group-item {
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
} */